#navbar{
    position: fixed;
    top: 0; 
    left: -1%;
    width: 100%;
    height: 50px;
    background-color: rgb(94, 136, 94);
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding: 0 20px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 4px 8px -2px #222;
    display: flex;
    justify-content: flex-start;
}
.link{
    height: 100%;
    width: fix-content;
    padding: 0 20px;
    transition: all .2s ease-out;
    align-items: center;
    text-align: center;
}
link{
    max-width: fit-content;
    margin: auto;
    transition: all 3s ease-out;
    max-height: fit-content;
}
.link:hover{
    background-color: #e7cf36;
    cursor: pointer;
}
.a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
#volunteer{
    
}   
#homepagelink{
    
    
}